{% extends 'garage/base.html' %}

{% block content %}

<h2 class="mb-4">Dashboard Venditore</h2>

<div class="card">
    <div class="card-body">

        {% for td in test_drive %}

            <div class="border-bottom mb-3 pb-3">

                <h5>
                    {{ td.auto.marca }} {{ td.auto.modello }}
                </h5>

                <p>
                    <strong>Cliente:</strong>
                    {{ td.cliente.nome }} {{ td.cliente.cognome }}
                </p>

                <p>
                    <strong>Data:</strong>
                    {{ td.data_test_drive }}
                </p>

            </div>

        {% empty %}

            <p>Nessun test drive assegnato.</p>

        {% endfor %}

    </div>
</div>

{% endblock %}